<div class="user-list-controls">
  <form class="user-list-controls__form" [formGroup]="searchForm">
    <input
      placeholder="Search by name..."
      formControlName="search"
      class="user-list-controls__search"
    />

    <select formControlName="groupBy" class="user-list-controls__group-by">
      <option value="">Group by</option>
      @for (group of groupByOptions(); track group) {
        <option [value]="group.value">{{ group.label }}</option>
      }
    </select>

    <button class="user-list-controls__clear-button" (click)="clearForm()">
      Clear
    </button>
  </form>
</div>
<div class="user-list-controls__paginator">
  <app-paginator
    [currentPage]="usersStore.currentPage()"
    (nextClicked)="nextClicked()"
    (prevClicked)="prevClicked()"
    [isLoading]="isLoading()"
  ></app-paginator>
</div>
