<div class="user-list-group">
  <!-- All users: there is only one array -->
  @if (isAllUsersSelected()) {
    <article class="user-list-group__article">
      <cdk-virtual-scroll-viewport
        itemSize="50"
        class="user-list-group__viewport"
      >
        <div
          *cdkVirtualFor="let user of users(); index as i"
          class="user-list-group__viewport-item"
          [ngClass]="{
            'user-list-group__viewport-item--expanded':
              isExpanded() && expandedIndex() === i,
          }"
        >
          <app-user-item
            [isExpanded]="isExpanded() && expandedIndex() === i"
            [user]="user"
            (click)="itemClick(i)"
            [allUsers]="users()"
          />
        </div>
      </cdk-virtual-scroll-viewport>
    </article>
  } @else {
    <!-- Grouped users: it is an array of objects with different keys depending on the grouped type.
      Each key (header) has an array of users -->
    @for (header of headers(); track header) {
      @if (
        selectedGroupOption() === GROUP_BY.NATIONALITY &&
        !!usersFromCurrentGroup()?.[header]
      ) {
        <h3 class="user-list-group__headline">
          {{ usersFromCurrentGroup()![header][0].country }}
        </h3>
      } @else if (!!usersFromCurrentGroup()?.[header]) {
        <h3 class="user-list-group__headline">{{ header | formatString }}</h3>
      }
      <article class="user-list-group__article" (click)="articleClick(header)">
        <cdk-virtual-scroll-viewport
          itemSize="50"
          class="user-list-group__viewport"
        >
          <div
            *cdkVirtualFor="
              let user of usersFromCurrentGroup()?.[header] ?? [];
              index as i
            "
            class="user-list-group__viewport-item"
            [ngClass]="{
              'user-list-group__viewport-item--expanded':
                isExpanded() &&
                expandedIndex() === i &&
                comparedUserId(user.login.uuid, i),
            }"
          >
            <app-user-item
              [user]="user"
              [isExpanded]="
                isExpanded() &&
                expandedIndex() === i &&
                comparedUserId(user.login.uuid, i)
              "
              (click)="itemClick(i)"
              [allUsers]="users()"
            />
          </div>
        </cdk-virtual-scroll-viewport>
      </article>
    }
  }
</div>
