@import "ease/ease-import.scss";

:host {
  .user-item {
    align-items: baseline;
    border-bottom: 1px solid $color-fog;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    height: 60px;
    padding: 12px;
    color: $color-night;
    @include ease-out-animation();
    &__wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &__additional-info-wrapper,
    &__main-info-wrapper {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      width: 100%;
      padding-bottom: 10px;
    }
    &__additional-info-wrapper {
      padding-top: 10px;
      border-top: thin solid #aaaaaa;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      p {
        margin-bottom: 5px;
      }
    }
    &--expanded {
      height: $list-item-height;
    }
    &:hover {
      @include hover-row();
      cursor: pointer;
    }

    &__image {
      border-radius: 20%;
      height: 40px;
      width: 40px;
    }

    &__name,
    &__email,
    &__phone {
      margin: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      white-space: nowrap;
    }

    &__name {
      flex: 1;
      min-width: 100px;
    }

    &__email {
      width: 220px;
    }

    &__phone {
      width: 110px;
    }

    &__country {
      width: 220px;
    }
    &__age {
      width: 80px;
    }

    &__nat {
      margin-left: 12px;
      text-align: right;
      width: 80px;
    }
  }
}
