@import "ease/ease-import.scss";

:host {
  .user-list {
    &__filter {
      display: flex;
      gap: 12px;
      justify-content: flex-start;
      align-items: center;
      padding-bottom: 40px;
    }
    &__message {
      padding: 12px;
    }
    &__controls {
      flex-grow: 1;
    }
    &__loader {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      width: 100%;
      text-align: center;
    }

    @include media-breakpoint-down(m) {
      &__filter {
        flex-direction: column;
      }
    }
  }
}
