<div class="user-list">
  @if (!!usersStore.groups()) {
    <div class="user-list__filter">
      <div class="user-list__header">
        <h2>{{ header() }}</h2>
      </div>
      <div class="user-list__controls">
        <app-user-list-controls
          [userGroups]="usersStore.groups()"
          (valuesChanged)="selectedValueChanged($event)"
          (nextOnClicked)="nextOnClicked.emit()"
          (prevOnClicked)="prevOnClicked.emit()"
          [isLoading]="isLoading()"
        ></app-user-list-controls>
      </div>
    </div>
  }
  @if (usersStore.allFilteredUsers().length > 0 && !isLoading()) {
    <app-user-list-group></app-user-list-group>
  } @else if (usersStore.allFilteredUsers().length === 0 && !isLoading()) {
    <article class="user-list__article">
      <p class="user-list__message">No users found.</p>
    </article>
  } @else if (isLoading()) {
    <article class="user-list__message">
      <div class="user-list__loader">
        <img src="loading.gif" alt="loading.." />
      </div>
    </article>
  }
</div>
